{{ $permalink := partial `fn/img-permalink` . }}

{{ if default true .IsBlock }}
<figure{{ with .Class }} class="{{ . }}"{{ end }}>
{{ end }}
	<img src="{{ $permalink.Src }}"
	     alt="{{ partial `fn/img-alt` (slice .Text $permalink.Src) }}"
	     {{ with $permalink.SrcSet }}
	     srcset="{{ range $i, $v := . }}
	             	{{- if $i }}, {{ end }}
	             	{{- $v.Src }} {{ $v.Size }}w
	             {{- end }}"
	     {{ with or $.SizeHints `(width >= 65ch) 65ch, 100vw` }}
	     sizes="{{ . }}"
	     {{ end }}
	     {{ end }}
	     {{ if (urls.Parse $permalink.Src).IsAbs }}
	     referrerpolicy="no-referrer"
	     {{ end }}
	     loading="lazy">
{{ if default true .IsBlock }}
	{{ with .Title }}
	<figcaption>{{ . }}</figcaption>
	{{ end }}
</figure>
{{ end }}
