{{ $permalink := partial `fn/img-permalink` . }}

{{ if default true .IsBlock }}
<figure{{ with .Class }} class="{{ . }}"{{ end }}>
{{ end }}
	<img src="{{ $permalink.Src }}"
	     alt="{{ .Text }}"
	     {{ with $permalink.SrcSet }}
	     srcset="{{ range $i, $v := . }}
	             	{{- if $i }}, {{ end }}
	             	{{- $v.Src }} {{ $v.Size }}w
	             {{- end }}"
	     {{ with or $.SizeHints `auto` }}
	     sizes="{{ . }}"
	     {{ end }}
	     {{ end }}
	     {{ if $permalink.IsAbs }}
	     referrerpolicy="no-referrer"
	     {{ end }}
	     loading="lazy">
{{ if default true .IsBlock }}
	{{ with .Title }}
	<figcaption>{{ . }}</figcaption>
	{{ end }}
</figure>
{{ end }}
