{{ define `main` }}
<header>
	<h1>{{ .Title }}</h1>
	{{ with partialCached `post/date` . (.Date.Format `2006.01.02`) (.Lastmod.Format `2006.01.02`) }}
	<div class="row">
		{{ . }}

		{{ with $.GetTerms `tags` }}
		<ul aria-label="Tags" class="noindent row">
			{{ range . }}
			<li><a href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a></li>
			{{ end }}
		</ul>
		{{ end }}
	</div>
	{{ end }}
</header>

{{ .Content }}

{{/*
   * TODO:
   * Replace with CSS using `attr()` and `counter()`:
   *
   * ```css
   * [data-grid] {
   * 	counter-reset: i;
   * 	grid-template-areas: attr(data-grid);
   * 	& > li {
   * 		counter-increment: i;
   * 		grid-area: ident(counter(i, lower-alpha));
   * 	}
   * }
   * ```
   *
   * Blocked-by: https://github.com/w3c/csswg-drafts/issues/9141
   */}}
{{ with .Params.photos }}
<ul class="auto-grid"
	{{ with $.Params.grid }}style="grid-template:{{ trim (printf `%+q` .) `[]` | safeCSS }}"{{ end }}>

	{{ range $i, $_ := . }}
	<li{{ if $.Params.grid }} style="grid-area: {{ printf `%c` (add 97 $i) }}"{{ end }}>
		{{ $opts := (dict
			`Destination` .src
			`Text` .alt
			`Title` (.cap | markdownify)
		)}}
		{{ partialCached `figure` $opts (printf `%x` $opts) }}
	</li>
	{{ end }}
</ul>
{{ end }}

{{ with .Params.changelog }}
<hr>
<footer>
	<ol aria-label="Page updates (newest first)" class="changelog">
		{{ range $k, $v := . }}
		<li>
			<time datetime="{{ $k }}">{{ dateFormat `2006.01.02` $k }}</time>
			<p class="noindent">{{ $v | markdownify }}</p>
		</li>
		{{ end }}
	</ol>
</footer>
{{ end }}
{{ end }}
