<header id="site-header">
	<nav id="site-nav" aria-label="Site">
		{{ range site.Menus.main }}
		<a href="{{ .URL }}">{{ .Name | safeHTML }}</a>
		{{ end }}
	</nav>

	<div id="site-nav-btns">
		<label aria-label="Expand site navigation">
			{{ partialCached `icon` `⇄` `⇄` }}
			<input type="checkbox" id="expand-site-nav" class="sr-only">
		</label>

		<label aria-label="Invert colors">
			{{ partialCached `icon` `💡` `💡` }}
			<input type="checkbox" id="invert-colors" class="sr-only">
		</label>
	</div>
</header>
