<title>{{ partial `fn/title` . }}</title>
{{ with (or
	(.Description | plainify | strings.TrimSpace)
	(partial `fn/summary` .)
	(site.Params.site.description | plainify | strings.TrimSpace)
)}}
<meta name="description" content="{{ . }}">
{{ end }}
<link rel="canonical" href="{{ .Permalink }}">

<meta property="og:site_name" content="{{ site.Title }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">

{{ with .Params.photos }}
	{{ range partial `fn/vals` . }}
		{{ $permalink := partial `fn/img-permalink` (dict `Destination` .src) }}
<meta property="og:image" content="{{ $permalink.Src }}">
<meta property="og:image:alt" content="{{ .alt }}">
	{{ end }}
{{ else }}
<meta property="og:image" content="{{ absURL `/avatar.svg` }}">
<meta property="og:image:alt" content="Avatar">
{{ end }}
