{{ $summary := .Params.summary | plainify | strings.TrimSpace }}
{{ if not $summary }}
	{{ if and (eq .Kind `term`) }}
		{{ $prefix := cond (eq .Section `tags`) `#` `` }}
		{{ $summary = printf `Overview of pages under '%s%s'` $prefix .Title }}
	{{ else if in (slice `section` `taxonomy`) .Kind }}
		{{ $summary = printf `Overview of pages under '%s'` (lower .Title) }}
	{{ else }}
		{{ $summary = index (split .Content `</p>`) 0 | plainify | htmlUnescape | strings.TrimSpace }}
	{{ end }}
{{ end }}
{{ return $summary }}
