{{ define `main` }}
<style>
	.polaroid:hover {
		transform: scale(1.1) rotate(7.5deg);
		z-index: 1;
		transition: transform 0.1s;
	}
	.polaroid:hover::before {
		transform: translateY(0.8ch) scale(0.9) rotate(-7.5deg);
		transition: transform 0.1s;
	}

	main > header {
		margin: 3ch;
		text-align: center;
	}
</style>

<header>
	<h1 class="sr-only">{{ .Title }}</h1>
	{{ .Content }}
</header>

<section>
	<h2 id="recent-photos">
		Recent photos
		<a href="{{ relURL `/photos` }}" aria-label="More recent photos">
			{{ partialCached `icon` `→` `→` }}
		</a>
	</h2>

	{{ with first 3 (site.GetPage `/photos`).RegularPages.ByDate.Reverse }}
	<ol aria-labelledby="recent-photos" class="polaroid-line" style="margin-bottom:3ch">
		{{ range . }}
		<li>
			<a href="{{ .RelPermalink }}" aria-label="{{ .LinkTitle }}">
				{{ $cover := index (partial `fn/vals` .Params.photos) 0 }}
				{{ $opts := (dict
					`Destination` $cover.src
					`Text` ``
					`Title` .LinkTitle
					`Class` `polaroid`
					`SizeHints` `(width >= 65ch) 21.6ch, 33vw`
				)}}
				{{ partial `figure` $opts }}
			</a>
		</li>
		{{ end }}
	</ol>
	{{ else }}
		{{ partialCached `wip` . }}
	{{ end }}
</section>

<section>
	<h2 id="recent-posts">
		Recent posts
		<a href="{{ relURL `/posts` }}" aria-label="More recent posts">
			{{ partialCached `icon` `→` `→` }}
		</a>
	</h2>

	{{ with first 4 (where site.RegularPages `Section` `posts`).ByDate.Reverse }}
	<ol aria-labelledby="recent-posts" class="noindent" style="margin-bottom:2ch">
		{{ range . }}
		<li>{{ partial `post/entry` (dict `Page` . `HL` 3) }}</li>
		{{ end }}
	</ol>
	{{ else }}
		{{ partialCached `wip` . }}
	{{ end }}
</section>
{{ end }}
