{{ define `main` }}
{{ if eq .Section `photos` }}
<header>
	<style>
		header {
			display: flex;
			justify-content: space-between;
			gap: 2ch;
		}
	</style>
	{{ partial `_inline/page-title` . }}
	{{ partial `pagination` .  }}
</header>
{{ else }}
	{{ partial `_inline/page-title` . }}
{{ end }}

{{ .Content }}

{{ with (.Paginate .RegularPages.ByDate.Reverse).Pages }}
<ol aria-labelledby="page-title" class="noindent">
	{{ range . }}
	<li>
		{{ partial `post/entry` (dict
			`Page` .
			`HL` 2
			`RenderPhotos` (eq $.Section `photos`)
		)}}
	</li>
	{{ end }}
</ol>
{{ else }}
	{{ partialCached `wip` . }}
{{ end }}
{{ end }}

{{ define `_partials/_inline/page-title` }}
<h1 id="page-title">
	{{ if eq .Kind `term` }}<a href="{{ .Parent.RelPermalink }}">←</a>{{ end }}
	{{ if eq .Section `tags` }}
		#{{ .Title }}
	{{ else }}
		{{ title .Title }}
	{{ end }}
</h1>
{{ end }}
