{{ define `site-header` }}
<header id="site-header">
	<nav id="site-nav" aria-label="Site">
		<a href="{{ .Parent.RelPermalink }}">
			{{ partialCached `icon` (slice `←` `Back to`) `← Back to` }}
			{{ .Parent.LinkTitle }}
		</a>
	</nav>
</header>
{{ end }}

{{ define `main` }}
<style>
	:root {
		color-scheme: dark;
	}
	body {
		max-width: unset;
	}
	#site-header {
		justify-content: center;
	}
	#site-nav {
		margin: -3ch 0 4ch; /* -#site-header margin-top, body padding-top */
		text-transform: unset;
	}
	main {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(35vmin, 1fr));
		gap: 2.5ch;
		place-items: center;

		> img {
			aspect-ratio: 1;
			object-fit: scale-down;
			width: 100%;
		}
	}
</style>

{{ range (where site.RegularPages `Params.photos` `!=` nil).ByDate.Reverse }}
	{{ range partial `fn/vals` .Params.photos }}
		{{ $opts := (dict
			`IsBlock` false
			`Destination` .src
			`Text` .alt
			`SizeHints` `35vmin`
		)}}
		{{ partialCached `figure` $opts (printf `%x` $opts) }}
	{{ end }}
{{ else }}
	{{ partialCached `wip` . }}
{{ end }}
{{ end }}
