{{ define `main` }}
<header>
	<div class="row nowrap" style="justify-content:space-between;align-items:center">
		<h1>{{ .Title }}</h1>
		<nav class="terms clr nowrap" aria-label="Posts" style="font-size:0.75em">
			{{ with .PrevInSection }}
			<a href="{{ .RelPermalink }}" aria-label="Older post" title="Older post">
				{{ partialCached `icon` `↓` `↓` }}
			</a>
			{{ end }}
			{{ with .NextInSection }}
			<a href="{{ .RelPermalink }}" aria-label="Newer post" title="Newer post">
				{{ partialCached `icon` `↑` `↑` }}
			</a>
			{{ end }}
		</nav>
	</div>

	{{ with partialCached `post/date` .
	    (.Date.Truncate (time.ParseDuration `24h`))
	    (.Lastmod.Truncate (time.ParseDuration `24h`)) }}
	<div class="row" style="margin-bottom:3ch">
		{{ . }}

		{{ with $.GetTerms `tags` }}
		<ul aria-label="Tags" class="noindent row">
			{{ range . }}
			<li><a href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a></li>
			{{ end }}
		</ul>
		{{ end }}
	</div>
	{{ end }}
</header>

{{ if not (.HasShortcode `photos`) }}
	{{ partialCached `photos` (dict `Page` .) . nil }}
{{ end }}

{{ .Content }}

{{ with .GitInfo }}
	{{ range (append . .Ancestors) }}
		{{ if hasPrefix .Subject `edit post` }}
			{{ $.Store.SetInMap `changelog`
			    (.AuthorDate.Format `2006-01-02`)
			    (replaceRE `edit posts?:.*?:` `` .Subject | humanize)
			}}
		{{ end }}
	{{ end }}
{{ end }}
{{ with .Store.Get `changelog` }}
<hr>
<footer>
	<ol aria-label="Page updates" class="changelog">
		{{ range $k, $v := . }}
		<li>
			<time datetime="{{ $k }}">{{ dateFormat `2006.01.02` $k }}</time>
			<p class="noindent">{{ $v }}</p>
		</li>
		{{ end }}
	</ol>
</footer>
{{ end }}
{{ end }}
