{{ define `main` }}
<header>
	<h1>{{ .Title }}</h1>

	{{ with partialCached `post/date` .
	    (.Date.Truncate (time.ParseDuration `24h`))
	    (.Lastmod.Truncate (time.ParseDuration `24h`)) }}
	<div class="row">
		{{ . }}

		{{ with $.GetTerms `tags` }}
		<ul aria-label="Tags" class="noindent row">
			{{ range . }}
			<li><a href="{{ .RelPermalink }}">#{{ lower .LinkTitle }}</a></li>
			{{ end }}
		</ul>
		{{ end }}
	</div>
	{{ end }}
</header>

{{ .Content }}

{{ if eq (.Store.Get `photos`) nil }}
	{{ `{{< photos >}}` | .RenderString }}
{{ end }}

{{ with .Params.changelog }}
<hr>
<footer>
	<ol aria-label="Page updates" class="changelog">
		{{ range $k, $v := . }}
		<li>
			<time datetime="{{ $k }}">{{ dateFormat `2006.01.02` $k }}</time>
			<p class="noindent">{{ $v | markdownify }}</p>
		</li>
		{{ end }}
	</ol>
</footer>
{{ end }}
{{ end }}
