{{ if not .Date.IsZero }}
	{{ $a := .Date.Truncate (time.ParseDuration `24h`) }}
	{{ $b := .Lastmod.Truncate (time.ParseDuration `24h`) }}
<div class="post-dates">
	<time datetime="{{ $a.Format `2006-01-02` }}">
		<span class="sr-only">Published {{ $a.Format `2006.01.02` }}</span>
		<span aria-hidden="true">{{ $a.Format `2006.01.02` }}</span>
	</time>
	{{ if $b.After $a }}
	<time datetime="{{ $b.Format `2006-01-02` }}">
		<span class="sr-only">Last modified {{ $b.Format `2006.01.02` }}</span>
		<span aria-hidden="true">{{ $b.Format `2006.01.02` }}</span>
	</time>
	{{ end }}
</div>
{{ end }}
