{{ with $page := .Page }}
	{{ if and (default false $.RenderPhotos) (isset .Params `photos`) }}
<article class="post-entry-photos">
		{{ with first 3 (partial `fn/vals` .Params.photos) | collections.Reverse }}
			{{ $len := len . }}
	<aside class="polaroids">
			{{ range $i, $_ := . }}
				{{ $opts := (dict
					`Destination` .src
					`Text` .alt
					`Title` (cond (eq $i (sub $len 1))
						(partialCached `post/date` $page
						    ($page.Date.Truncate (time.ParseDuration `24h`))
						    ($page.Lastmod.Truncate (time.ParseDuration `24h`)))
						``
					)
					`Class` `polaroid`
				)}}
				{{ partial `figure` $opts }}
			{{ end }}
	</aside>

	<div>
		<div>
			<h{{ $.HL }}><a href="{{ $page.RelPermalink }}">{{ $page.LinkTitle }}</a></h{{ $.HL }}>
			{{ with partial `fn/summary` $page }}
			<p>{{ . }}</p>
			{{ end }}
			<a href="{{ $page.RelPermalink }}" aria-label="Goto page">→</a>
		</div>
	</div>
		{{ end }}
	{{ else }}
<article class="post-entry">
	<h{{ $.HL }}><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h{{ $.HL }}>
		{{ partialCached `post/date` .
		    (.Date.Truncate (time.ParseDuration `24h`))
		    (.Lastmod.Truncate (time.ParseDuration `24h`)) }}

		{{ if $s := and $.ShowSummary (partial `fn/summary` .) }}
	<p>{{ $s }}</p>
	<a href="{{ .RelPermalink }}" aria-label="Goto page">→</a>
		{{ end }}
	{{ end }}
</article>
{{ end }}
