{{ with $page := .Page }}
<article class="post-entry">
	{{ if and (default false $.RenderPhotos) (isset .Params `photos`) }}
		{{ with first 3 (partial `fn/vals` .Params.photos) | collections.Reverse }}
			{{ $len := len . }}
	<aside class="polaroids">
			{{ range $i, $_ := . }}
				{{ $opts := (dict
					`Destination` .src
					`Text` .alt
					`Title` (cond (eq $i (sub $len 1))
						(partialCached `post/date` $page
						    ($page.Date.Truncate (time.ParseDuration `24h`))
						    ($page.Lastmod.Truncate (time.ParseDuration `24h`)))
						``
					)
					`Class` `polaroid`
				)}}
				{{ partial `figure` $opts }}
			{{ end }}
	</aside>

	<div>
		<h{{ $.HL }}><a href="{{ $page.RelPermalink }}">{{ $page.LinkTitle }}</a></h{{ $.HL }}>
		<p>{{ partial `fn/summary` $page }}</p>
		<a href="{{ $page.RelPermalink }}" aria-label="Goto page">→</a>
	</div>
		{{ end }}
	{{ else }}
	<h{{ $.HL }}><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h{{ $.HL }}>
		{{ partialCached `post/date` .
		    (.Date.Truncate (time.ParseDuration `24h`))
		    (.Lastmod.Truncate (time.ParseDuration `24h`)) }}

		{{ if $.ShowSummary }}
	<p>{{ partial `fn/summary` . }}</p>
	<a href="{{ .RelPermalink }}" aria-label="Goto page">→</a>
		{{ end }}
	{{ end }}
</article>
{{ end }}
