{{ $renderPhotos := and (default false .RenderPhotos) (isset .Page.Params `photos`) }}
{{ if $renderPhotos }}
<article class="post-entry-photos">
	{{ with first 3 (partial `fn/vals` .Page.Params.photos) | collections.Reverse }}
	<aside class="polaroid-stack">
		{{ range . }}
			{{ $opts := (dict
				`Destination` .src
				`Text` .alt
				`Class` `polaroid`
				`SizeHints` `40mm`
			)}}
			{{ partial `figure` $opts }}
		{{ end }}
	</aside>
	{{ end }}

	<div>
		<div>
{{ else }}
<article class="post-entry">
{{ end }}
	<h{{ .HL }}><a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a></h{{ .HL }}>
	{{ partialCached `post/date` .Page
	    (.Page.Date.Truncate (time.ParseDuration `24h`))
	    (.Page.Lastmod.Truncate (time.ParseDuration `24h`)) }}

	{{ if $s := and (default $renderPhotos .ShowSummary) (partial `fn/summary` .Page) }}
	<p>{{ $s }}</p>
	{{ end }}
{{ if $renderPhotos }}
		</div>
	</div>
{{ end }}
</article>
