<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ with or (.Description | plainify | strings.TrimSpace)
           (partial `fn/summary` .)
           (site.Params.site.description | plainify | strings.TrimSpace) }}
<meta name="description" content="{{ . }}">
{{ end }}
{{ if .Params.noIndex }}
<meta name="robots" content="noindex">
{{ end }}

<!--{{ template "_internal/opengraph.html" . }}-->

{{ with .Params.photos }}
	{{ range partial `fn/vals` . }}
		{{ $permalink := partial `fn/img-permalink` (dict `Destination` .src) }}
<meta property="og:image" content="{{ $permalink.Src }}">
<meta property="og:image:alt" content="{{ partial `fn/img-alt` (slice .alt $permalink.Src) }}">
	{{ end }}
{{ end }}

<title>{{ partial `fn/title` . }}</title>
<link rel="icon" href="{{ relURL `/favicon.svg` }}">

{{ with resources.Get `style.css` | minify | fingerprint `sha512` }}
<link rel="stylesheet" href="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}">
{{ end }}

{{ with resources.Get `script.js` | minify | fingerprint `sha512` }}
<script src="{{ .RelPermalink }}" integrity="{{ .Data.Integrity }}" defer></script>
{{ end }}
